<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ GPLv3 License
  ~
  ~ Copyright (c) 2022-2026 4ra1n (Jar Analyzer Team)
  ~
  ~ This project is distributed under the GPLv3 license.
  ~
  ~ https://github.com/jar-analyzer/jar-analyzer/blob/master/LICENSE
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.n1ar4.jar.analyzer.core.mapper.MethodImplMapper">
    <resultMap id="methodMap" type="me.n1ar4.jar.analyzer.entity.MethodResult">
        <result column="jar_name" property="jarName"/>
        <result column="method_name" property="methodName"/>
        <result column="class_name" property="className"/>
        <result column="method_desc" property="methodDesc"/>
    </resultMap>
    <insert id="insertMethodImpl" parameterType="MethodImplEntity">
        INSERT INTO method_impl_table
        (class_name, method_name, method_desc, impl_class_name, class_jar_id, impl_class_jar_id)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.className}, #{item.methodName}, #{item.methodDesc}, #{item.implClassName}, #{item.classJarId}, #{item.implClassJarId})
        </foreach>
    </insert>
</mapper>